    <%- include('../common/header.ejs'); %>
    <h1 class="text-center">Welcome to the User Page</h1>
    <div class="d-grid gap-2 col-6 mx-auto">
        <a href="/admin-register" class="btn btn-primary btn-lg">Admin Register</a>
        <a href="/user-register" class="btn btn-success btn-lg">User Register</a>
        <a href="/login" class="btn btn-warning btn-lg">Login</a>
    </div>
    <%- include('../common/footer.ejs'); %>

